
    <h1>THE NEWS</h1>

    <form class= "" action="/articles/new" method="post">
      <label for="articles">articles:</label>
      <input type="text" name="articles" id="articles">
        <label for="articles">description:</label>
        <input type="text" name="description" id="description">
        <label for="articles">url:</label>
        <input type="text" name="url" id="url">

      <input type="submit">
    </form>
