<h1>Contacts</h1>

<h2><%= contact.name %></h2>
<h3><%= @contact.phone_number %></h3>
<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %> - <%= contact.phone_number %></li>
  <% end %>
</ul>
