body{
  font-family: 'Baloo Bhaina', cursive;
}
.header {
  background-color: #fbeec2;
  color: #4a4857;
  border-color: #4a4857;
  border-style: solid;
  border-radius: 20px;
}
.event {
  color: #4a4857;
  border-bottom-style: solid;
  border-bottom-color: #fbeec2;
  border-radius: 20px;
}
.yeah {
  border-bottom: 20%
}
body {
  background-color: #859987
}
.pickles{
  background-color: #859987;
  color: #4a4857
}
.pickles:hover{
  background-color: #fbeec2;
  color: #4a4857
}
.applesauce{
  background-color: #859987;
  color: #4a4857
}
.applesauce:hover{
  background-color: #fbeec2;
  color: #4a4857
}
.location{
  padding: 10px;
  background-color: #fbeec2;
  color: #4a4857;
  border-color: #4a4857;
  border-style: solid;
  border-radius: 20px;
}
.location-info{
  padding: 10px;
  color: #4a4857;
  border-color: #4a4857;
  border-style: solid;
  border-radius: 20px;
}
.date-header{
  padding: 10px;
  background-color: #fbeec2;
  color: #4a4857;
  border-color: #4a4857;
  border-style: solid;
  border-radius: 20px;
}
.date-time{
  padding: 10px;å
  color: #4a4857;
  border-color: #4a4857;
  border-style: solid;
  border-radius: 20px;

}
